h1 {
    text-align: center;
}

img {
    display: block;
    margin:auto;
    width: 700px;
}


p{ 
    font-size: 1.3rem;
}

ul{
    font-size: 1.2rem;
}
.segundo-parrafo p{
    font-style: oblique;
}

.ultimo-parrafo p{
    font-style: oblique;
}